@use "./global/variables";

.custom-select {
  position: relative;
  flex-shrink: 0;
  max-width: 100%;
}

.custom-select__button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px 8px;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: variables.$primary;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &::after {
    content: "";
    flex-shrink: 0;
    width: 10px;
    height: 6px;
    mask-image: url("../../img/icons/stack.svg#small-arrow");
    background-color: variables.$primary;
  }

  &:hover,
  &:focus {
    background-color: variables.$secondary;
  }

  &:focus-visible {
    outline: 2px solid variables.$primary;
    outline-offset: 2px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 4px 10px;
  }
}

.custom-select--opened .custom-select__button::after {
  transform: rotate(180deg);
}

.custom-select__list {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 2;
  display: none;
  width: 190px;
  max-height: 400px;
  overflow-y: auto;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  list-style-type: none;
  background-color: variables.$white;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.custom-select--opened .custom-select__list {
  display: block;
}

.custom-select__item {
  border-bottom: 1px solid variables.$secondary;
}

.custom-select__item:last-child {
  border: none;
}

.custom-select__option {
  padding: 8px 20px;
  width: 100%;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  background-color: transparent;
  border: none;
  word-break: break-word;
  cursor: pointer;

  &--selected {
    color: variables.$white;
    background-color: variables.$primary;
    pointer-events: none;
  }

  &:hover {
    background-color: variables.$secondary;
  }

  &:focus-visible {
    outline: 2px solid variables.$primary;
    outline-offset: 0;
  }
}

.custom-select__item:first-child .custom-select__option {
  border-radius: 4px 4px 0 0;
}

.custom-select__item:last-child .custom-select__option {
  border-radius: 0 0 4px 4px;
}
