/* GLOBAL */
@import "global/variables.scss";
@import "global/global.scss";
@import "global/fonts.scss";
@import "global/media.scss";

/* BLOCKS */
@import "blocks/heading.scss";
@import "blocks/button.scss";
@import "blocks/page.scss";
@import "blocks/header.scss";
@import "blocks/user-navigation.scss";
@import "blocks/main-navigation.scss";
@import "blocks/slider.scss";
@import "blocks/main-index.scss";
@import "blocks/badge.scss";
@import "blocks/features.scss";
@import "blocks/catalog.scss";
@import "blocks/filters-form.scss";
@import "blocks/price.scss";
@import "blocks/item.scss";
@import "blocks/milk-availability.scss";
@import "blocks/origin-country.scss";
@import "blocks/label-name.scss";
@import "blocks/map.scss";
