.button {
  display: block;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  font: 16px/24px $font-primary;
  text-align: center;
  color: $color-base-white;
  text-decoration: none;
  background-color: $color-base-primary;
  overflow-wrap: anywhere;

  &:focus,
  &:hover {
    background-color: $color-primary-lighter;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }

  &:active {
    background-color: $color-primary-darker;
  }

  &:disabled {
    background-color: $color-base-grey;
  }
}

.button--light {
  color: $color-base-primary;
  background-color: $color-base-white;

  &:focus,
  &:hover,
  &:active {
    color: $color-base-primary;
  }

  &:disabled {
    background-color: $color-light-grey;
  }
}
