.container {
  display: block;
  width: $breakpoint-mobile;
  max-width: $breakpoint-desktop;
  margin: 0 auto;
  padding: 0 20px;

  @media #{$not-mobile} {
    width: $breakpoint-tablet;
  }

  @media #{$desktop-only} {
    width: $breakpoint-desktop;
    padding: 0 40px;
  }
}
