.page {
  height: 100%;
  background-color: $color-base-white;
}

.page__body {
  min-width: $breakpoint-mobile;
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font: 400 14px/20px $font-primary;
  color: $color-base-black;
  background-color: $color-base-white;
}

.page__main {
  flex-grow: 1;
}
