.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  background-color: #7859CF;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.48;
  align-items: center;
  letter-spacing: 0.06rem;
}

.button--form,
.button-reset {
  width: 160px;
  padding: 10.5px 15px;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.85;
  text-align: center;
}

.button-reset {
  background-color: #FFFFFF;
  color: #7859CF;
}

.button--product-card {
  padding: 8px 10px 8px 41px;
  width: 141px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  color: #FFFFFF;
  position: relative;

  &::before {
    content: "";
    top: 10px;
    left: 20px;
    width: 20px;
    height: 16px;
    position: absolute;
    background: url(../../img/icons/stack.svg#basket-card)no-repeat center/cover;
  }
}
