.features-cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.features-cards__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.features-cards__item {
  margin-bottom: 32px;

  &:last-of-type {
    margin-bottom: 0;
  }
}
