.form__group {
  margin: 0 0 27px;
  padding: 0;
  border: none;

  &:last-of-type {
    margin-bottom: 35px;
  }
}

.form__group--range {
  margin-bottom: 22px;
}

.form__title {
  padding: 0 0 25px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.23;
  color: #333333;
}

.form__title--range {
  padding: 0 0 34px;
}

.form__group--checkbox .form__title {
  padding-bottom: 22px;
}

.form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 22px;
}

.form__group--checkbox .form__list {
  row-gap: 20px;
}

.form__label {
  display: grid;
  grid-template-columns: 24px auto;
  column-gap: 10px;
  align-items: center;
}

.form__group--checkbox .form__label {
  grid-template-columns: 42px auto;
}

.form__input {
  margin: 0;
  appearance: none;
}

.form__input--radio {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #BDBDBD;
  position: relative;
  background-color: #ffffff;
}

.form__input--radio:checked {
  border-color: #7859CF;
}

.form__input--radio:checked::before {
  content: "";
  position: absolute;
  left: 2px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #7859CF;
}

.form__input--radio[disabled] {
  border-color: #E2E2E2;
  background-color: inherit;
}

.form__input--checkbox {
  height: 24px;
  width: 42px;
  border-radius: 12px;
  box-shadow: inset -19px 0px 0px 0px #BDBDBD;
  background-color: white;
  border: 1px solid #BDBDBD;
  outline: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.form__input--checkbox:checked {
  box-shadow: inset 21px 0px 0px 0px #7859CF;
  border: 1px solid #7859CF;
}

.form__input--checkbox[disabled] {
  box-shadow: inset -19px 0px 0px 0px #E2E2E2;
  border-color: #E2E2E2;
}


.form__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
}

.form__input--radio[disabled]+.form__text {
  color: #BDBDBD
}

.form__input--checkbox[disabled]+.form__text {
  color: #BDBDBD;
}

.form__wrap-sending-data {
  display: flex;
  flex-direction: column;
}

.form__button {
  margin: 0 auto 25px;

  &:last-of-type {
    margin-bottom: 0;
  }
}
