.main-header {
  padding: 12px 20px;
}

.main-header__wrapper {
  // min-height: 65px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.main-header__logo {
  order: 1;
}

.main-header__description {
  visibility: hidden;
}

.main-header__nav {
  order: 3;

  @media (min-width: $tablet-width) {
    order: 2;
  }

}

.main-header__menu {
  margin-left: auto;
  order: 2;

  @media (min-width: $tablet-width) {
    order: 3;
  }
}
