.main-nav {
  height: 100%;
}

.main-nav__toggle {
  width: 16px;
  height: 12px;
  padding: 12px;
  border: 0;
  background-color: inherit;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  margin-top: -10px;
  right: 0;
  width: 16px;
  height: 1.5px;
  background-color: #000000;
  box-shadow: 0 5px 0 0 #000000, 0 10px 0 0 #000000;
}

.main-nav--closed .site-list {
  display: none;
}

// Если не загрузится JS
.main-nav--nojs .site-list {
  @media (min-width: $tablet-width) {
    display: block;
  }
}

.main-nav--opened .main-nav__toggle {

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1px;
    right: 0;
    width: 15px;
    height: 1.5px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__wrapper--modal {
  width: calc(100% + 40px);
  position: absolute;
  top: calc(100% + 12px);
  left: -20px;
  z-index: 10;

  @media (min-width: $tablet-width) {
    width: auto;
    position: static;
  }
}

.main-nav__list {
  margin: 0;

  @media (min-width: $tablet-width) {
    position: static;
    display: flex;
    justify-content: space-around;
  }
}

.main-nav__list {
  margin: 0;
}
