.promo {
  background-color: #F3EBE1;
}

.promo__wriper {
  padding: 20px 0 60px;
}

.promo__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.promo__img {
  display: block;
  margin-bottom: 10px;
}

.promo__text {
  margin: 0 0 12px;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.09;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.04rem;
  color: #7859CF;
}

.promo__title {
  margin: 0 0 18px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.02rem;
  color: #333333;
}

.promo__description {
  margin: 0 0 20px;
  padding: 0 20px 0;
  min-width: 280px;
  font-size: 14px;
  line-height: 1.41;
  text-align: center;
  color: #333333;
}

.promo__price-wrapper {
  display: flex;
  padding: 0;
}

.promo__price {
  margin: 0;
  margin-right: 17px;
  padding-top: 5px;
}

.promo__old-price {
  margin-right: 8px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.64;
  text-align: left;
  text-decoration: line-through;
  color: #7859CF;
}

.promo__new-price {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.31;
  text-align: left;
  color: #333333;
}

.promo__slider-controls {
  position: absolute;
  left: 0;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  transform: translateY(-50%);
}

.promo__slider-button {
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  background-color: inherit;
}

.promo__slider-button {
  position: relative;

  &::before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
    content: "";
    width: 20px;
    height: 20px;
    background-color: #7859CF;
  }
}

.promo__prev {
  &::before {
    mask: url("../../img/icons/stack.svg#arrow-prev") no-repeat center / contain;
  }
}

.promo__next {
  &::before {
    mask: url("../../img/icons/stack.svg#arrow-next") no-repeat center / contain;
  }
}

.promo__pagination {
  visibility: hidden;

  @media (min-width: $desktop-width) {
    visibility: visible;
  }
}
