.select {
  display: flex;
  justify-content: space-between;
}

.select__text {
  margin-right: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
}

.select__control {
  box-sizing: border-box;
  width: 100%;
  padding: 4px 6px 4px 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  letter-spacing: 0.7px;
  color: #7859CF;
  background-color: inherit;
  border: none;
}
