.site-list {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  font-size: 12px;
  line-height: 109%;
  vertical-align: top;
  letter-spacing: 2%;
}

.site-list__item {
  width: 100%;
  border-top: 1px solid #F0EBFF;
  display: flex;
  align-items: center;
  justify-content: center;

  &:last-of-type {
    border-bottom: 1px solid #F0EBFF;
  }
}

.site-list__link {
  display: block;
  padding: 20px 0 23px;
  text-decoration: none;
  font-size: 12px;
  line-height: 109%;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  cursor: pointer;
}
