.button {
  padding: 8px 20px;

  font-size: 16px;
  line-height: 1.5;
  color: $color-default-white;

  border: none;
  border-radius: 4px;
  cursor: pointer;

  &--primary {
    background-color: $color-base-primary;
  }

  &--secondary {
    color: $color-base-primary;

    background-color: $color-default-white;
  }

  &--catalog {
    position: relative;

    padding: 8px 20px 8px 46px;

    font-size: 14px;
    line-height: 1.43;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 20px;

      width: 20px;
      height: 16px;

      background-image: url("../../img/icons/stack.svg#add-to-cart");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20px 16px;
      transform: translateY(-50%);
    }
  }

  &--disabled {
    color: $color-default-white;

    background-color: $color-base-grey;

    pointer-events: none;

    @media (hover: hover) {
      &:hover {
        color: $color-default-white;

        background-color: $color-base-grey;
      }
    }

    &:focus {
      color: $color-default-white;

      background-color: $color-base-grey;
    }

    &:active {
      color: $color-default-white;

      background-color: $color-base-grey;
    }
  }

  @media (hover: hover) {
    &:hover {
      color: $color-default-white;

      background-color: $color-alt-primary-lighter;
    }
  }

  &:focus {
    color: $color-default-white;

    background-color: $color-alt-primary-lighter;
  }

  &:active {
    color: $color-default-white;

    background-color: $color-alt-primary-darker;
  }

  &:disabled {
    color: $color-default-white;

    background-color: $color-base-grey;

    &.button--secondary {
      background-color: $color-alt-light-grey;
    }
  }
}
