.contacts {
  padding: 20px 0;

  @media #{$desktop-only} {
    padding: 0;
    padding-top: 7px;
  }
}

.contacts____heading {
  margin-bottom: 20px;
}

.contacts__address {
  margin: 0;
  margin-bottom: 16px;
  font-style: normal;
  line-height: 20px;
}

.contacts__phone {
  color: #333333;
  font-style: normal;
  line-height: 20px;
  text-decoration: none;
}

.contacts__icon {
  display: flex;
  justify-content: start;
  gap: 6px;

  &--address {
    --icon: url("../../img/icons/stack.svg#adress-marker") no-repeat center;
  }

  &--phone {
    --icon: url("../../img/icons/stack.svg#phone-marker") no-repeat center;
  }

  &::before {
    content: "";
    min-width: 13px;
    height: 16px;
    mask: var(--icon);
    background: #7859cf;
  }
}
