.features {
  padding: 50px 0 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media #{$tablet-only} {
    padding: 60px 10px 100px;
  }

  @media #{$desktop-only} {
    padding: 100px 0 120px;
  }
}

.features__badge {
  order: -1;
  margin-bottom: 4px;
}

.features__list {
  display: grid;
  gap: 32px;
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media #{$tablet-only} {
    grid-template-columns: repeat(2, 1fr);
    padding: 60px 10px 0 10px;
    row-gap: 48px;
    column-gap: 30px;
  }

  @media #{$desktop-only} {
    grid-template-columns: repeat(4, 1fr);
    padding: 80px 0 0 0;
  }
}

.features__item {
  display: grid;
  align-items: center;
  text-align: center;

  @media #{$tablet-only} {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    row-gap: 10px;
    column-gap: 20px;
    text-align: start;
  }

  &--speed {
    --features-icon: url("../../img/icons/stack.svg#features-speed") no-repeat center;
  }

  &--energy {
    --features-icon: url("../../img/icons/stack.svg#features-energy") no-repeat center;
  }

  &--fit {
    --features-icon: url("../../img/icons/stack.svg#features-fit") no-repeat center;
  }

  &--eco {
    --features-icon: url("../../img/icons/stack.svg#features-eco") no-repeat center;
  }

  &::before {
    display: block;
    content: "";
    width: 52px;
    height: 56px;
    background: var(--features-icon);
    margin-left: auto;
    margin-right: auto;

    @media #{$tablet-only} {
      grid-row: 1 / 3;
      margin-bottom: auto;
    }
  }
}

.features__item-heading {
  margin-top: 10px;
  margin-bottom: 4px;

  @media #{$tablet-only} {
    margin-top: 0;
    margin-bottom: 2px;
  }

  @media #{$desktop-only} {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

.features__item-description {
  margin: 0;
  line-height: 20px;

  @media #{$not-mobile} {
    font-size: 16px;
    line-height: 24px;
  }
}

.features__heading {
  margin-bottom: 36px;

  @media #{$not-mobile} {
    margin: 0;
  }
}
