.footer {
  padding-top: 18px;

  @media #{$not-mobile} {
    padding-top: 37px;
    display: grid;
    column-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
  }

  @media #{$desktop-only} {
    column-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
  }
}

.footer__socials {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 20px;

  @media #{$tablet-only} {
    grid-column: 1 / 4;
    padding-bottom: 8px;
  }

  @media #{$desktop-only} {
    align-items: flex-start;
  }
}

.footer__description {
  display: none;
  margin: 0;
  font-size: 14px;
  line-height: 20px;

  @media #{$desktop-only} {
    grid-column: 2 / 3;
    display: block;
  }
}

.footer__social-list {
  margin: 0;

  @media #{$desktop-only} {
    margin-top: 50px;
  }
}

.footer__academy-link {
  display: flex;
  justify-content: center;
  gap: 4px;
  align-items: center;
  text-decoration: none;
  color: #bdbdbd;
  font-size: 12px;
  line-height: 16px;

  &:hover,
  &:focus {
    color: #7859cf;
    --icon-color: #7859cf;
  }

  &:active {
    color: #593cac;
    --icon-color: #593cac;
  }

  &::after {
    content: "";
    width: 12px;
    height: 16px;
    mask: url("../../img/icons/stack.svg#HTMLAcademy") no-repeat center;
    background: var(--icon-color, #bdbdbd);
  }
}

.footer__navigation-container {
  padding: 20px 0;

  @media #{$desktop-only} {
    padding: 0;
    padding-top: 7px;
  }
}

.footer__heading {
  margin-bottom: 12px;
}

.footer__acedemy-advertisment {
  display: flex;
  justify-content: center;
  gap: 3px;
  padding: 20px 0 30px;

  @media #{$not-mobile} {
    grid-column: 1 / 4;
    padding-top: 10px;
  }

  @media #{$desktop-only} {
    grid-column: 1 / 5;
    padding-top: 20px;
  }
}

.footer__academy-text {
  color: #bdbdbd;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  min-width: 91px;
}

.footer__border {
  position: relative;

  @media #{$mobile-only} {
    &::before {
      position: absolute;
      display: block;
      content: "";
      width: 100%;
      height: 1px;
      background: #f0ebff;
      bottom: 0;
    }
  }
}
