.footer-navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer-navigation__link {
  display: block;
  color: #333333;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 0;

  &:hover,
  &:focus {
    color: #9070ec;
  }

  &:active {
    color: #593cac;
  }
}
