@use "./global/variables";

.form {
  @media (min-width: variables.$tablet-width) and (max-width: variables.$tablet-width-only) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: variables.$desktop-width) {
    padding-top: 4px;
  }
}

.form__group {
  margin: 0;

  &--range {
    margin-bottom: 25px;

    @media (min-width: variables.$tablet-width) {
      margin-bottom: 39px;
    }

    @media (min-width: variables.$desktop-width) {
      margin-bottom: 31px;
    }
  }

  &--radio {
    margin-bottom: 21px;

    @media (min-width: variables.$tablet-width) {
      margin-bottom: 39px;
    }

    @media (min-width: variables.$desktop-width) {
      margin-bottom: 30px;
    }
  }

  &--checkbox {
    margin-bottom: 35px;

    @media (min-width: variables.$tablet-width) {
      margin-bottom: 39px;
    }
  }
}

.form__buttons {
  display: grid;
  gap: 25px;
  justify-items: center;

  @media (min-width: variables.$tablet-width) {
    grid-template-columns: repeat(2, auto);
    grid-column: 1 / -1;
    justify-self: center;
    gap: 30px;
    margin-right: 54px;
  }

  @media (min-width: variables.$desktop-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
    justify-items: stretch;
    margin-right: 0;
  }
}

.form__button {
  width: 57%;
  padding: 10px 14px 11px;
  font-size: 13px;

  &--reset {
    background-color: variables.$white;
    color: variables.$primary;

    &:disabled {
      background-color: variables.$grey-light;
    }

    @media (max-width: variables.$mobile-width-only) {
      letter-spacing: 0.04em;
    }
  }

  @media (min-width: variables.$tablet-width) {
    width: unset;
    padding: 8px 4px;
    font-size: 14px;
  }
}
