.heading {
  margin: 0;

  &--lvl-2 {
    font-size: 24px;
    line-height: 36px;

    @media #{$not-mobile} {
      font-size: 42px;
      line-height: 64px;
    }
  }

  &--lvl-3 {
    font-size: 18px;
    line-height: 32px;

    @media #{$not-mobile} {
      font-size: 24px;
      line-height: 36px;
    }
  }

  &--lvl-4 {
    color: #7859cf;
    line-height: 20px;
    letter-spacing: 0.28px;
  }

  &--slide-heading {
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.72px;

    @media #{$not-mobile} {
      font-size: 56px;
      line-height: 80px;
      letter-spacing: 1.12px;
    }
  }

  &--badge {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    color: #7859cf;
  }
}
