@use "./global/variables";
@use "./global/global";

.main__features {
  @media (min-width: variables.$desktop-width) {
    @include global.container;
  }
}

.main__map {
  height: 420px;
  background-color: variables.$grey-lightest;

  @media (min-width: variables.$tablet-width) {
    height: 480px;
  }

  @media (min-width: variables.$desktop-width) {
    height: 540px;
  }
}

.main__map-image {
  width: 100%;
  height: 100%;
}

.main__map:not(.main__map--nojs) .main__map-image {
  @include global.visually-hidden;
}
