.main-index {
  position: relative;
  flex-grow: 1;
}

.main-index__slider-section {
  display: grid;
  justify-content: center;
  margin: 0 auto;
  grid-template-columns: 1fr 280px 1fr;

  @media #{$tablet-only} {
    --slider-background-height: 640px;
    grid-template-columns: 1fr 608px 1fr;
  }

  @media #{$desktop-only} {
    --slider-background-height: 714px;
    grid-template-columns: 1fr 1280px 1fr;
  }

  &--slider-0-bg {
    --slider-background-color: #f3ebe1;
  }

  &--slider-1-bg {
    --slider-background-color: #eae6fc;
  }

  &--slider-2-bg {
    --slider-background-color: #e5e6e8;
  }

  &::before {
    z-index: -1;
    position: absolute;
    display: block;
    content: "";
    width: 100vw;
    height: var(--slider-background-height, 656px);
    top: 0;
    right: 0;
    background: var(--slider-background-color, #f3ebe1);
  }
}

.main-index__slider {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.main-index__slider-button {
  --arrow-color: #7859cf;
  --vertical-position: 318px;
  --horisontal-position: 5px;
  position: relative;
  background: none;
  border: none;
  z-index: 2;

  @media #{$tablet-only} {
    --vertical-position: 310px;
    --horisontal-position: 35px;
  }

  @media #{$desktop-only} {
    --vertical-position: 347px;
    --horisontal-position: 35px;
  }

  &:hover,
  &:focus,
  &:active {
    outline: none;
  }

  &:disabled {
    --arrow-color: #bdbdbd;
  }

  &--prev {
    --arrow-icon: url("../../img/icons/stack.svg#slider-arrow-prev") no-repeat center;

    grid-column: 1 / 2;
    grid-row: 1 / 2;

    &:hover,
    &:focus {
      background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    }

    &:active {
      background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
    }

    &:disabled {
      background: none;
    }

    &::before {
      right: var(--horisontal-position);
    }
  }

  &--next {
    --arrow-icon: url("../../img/icons/stack.svg#slider-arrow-next") no-repeat center;
    grid-column: 3 / 4;
    grid-row: 1 / 2;

    &:hover,
    &:focus {
      background: linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    }

    &:active {
      background: linear-gradient(270deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
    }

    &:disabled {
      background: none;
    }

    &::before {
      left: var(--horisontal-position);
    }
  }

  &::before {
    z-index: 1;
    position: absolute;
    content: "";
    width: 11px;
    height: 20px;
    top: var(--vertical-position);
    mask: var(--arrow-icon);
    background: var(--arrow-color);
  }
}

.main-index__catalog {
  background: #f8f8f8;
}
