.milk-availability {
  padding: 0;
  border: none;
}

.milk-availability__filter-list {
  display: grid;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.milk-availability__label {
  display: flex;
  gap: 10px;
}

.milk-availability__input {
  --radio-size: 24px;
  --checked-size: 16px;
  appearance: none;
  display: grid;
  margin: 0;

  &:hover,
  &:focus {
    --border-color: #9070ec;
    --checked-radio-content: "";
    --radio-opacity: 0.25;
    cursor: pointer;
  }

  &:checked {
    --checked-radio-content: "";
    --border-color: #7859cf;

    &:hover,
    &:focus {
      --radio-opacity: 1;
    }
  }

  &:disabled {
    --border-color: #e2e2e2;
    color: #e2e2e2;
    cursor: default;

    +.milk-availability__label-name {
      color: #e2e2e2;
    }

    &:hover,
    &:focus,
    &:active {
      --checked-radio-content: none;
    }

    &:checked {
      --checked-radio-content: "";
      --checked-background-color: #e2e2e2;
    }
  }

  &::before {
    content: "";
    box-sizing: border-box;
    width: var(--radio-size);
    height: var(--radio-size);
    border: 2px solid;
    border-color: var(--border-color, #bdbdbd);
    background: #ffffff;
    border-radius: 50%;
    grid-area: 1 / 1 / 2 / 2;
  }

  &::after {
    content: var(--checked-radio-content);
    width: var(--checked-size);
    height: var(--checked-size);
    background-color: var(--checked-background-color, #7859cf);
    border-radius: 50%;
    grid-area: 1 / 1 / 2 / 2;
    align-self: center;
    justify-self: center;
    opacity: var(--radio-opacity, 1);
  }
}
