.page {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 18px;
}

.page__body {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100%;
}

.page__centerer {
  margin: 0 auto;

  @media #{$mobile-only} {
    width: 320px;
  }

  @media #{$tablet-only} {
    width: 768px;
  }

  @media #{$desktop-only} {
    width: 1440px;
  }
}

.page__container {
  margin: 0 auto;

  @media #{$mobile-only} {
    width: 280px;
  }

  @media #{$tablet-only} {
    width: 728px;
  }

  @media #{$desktop-only} {
    width: 1360px;
  }
}
