.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;

  gap: 10px;

  @media (min-width: $vp-768) {
    justify-content: end;

    gap: 20px;
  }
}

.pagination__item {
  display: flex;
  min-width: 40px;
}

.pagination__link {
  width: 100%;
  padding: 8px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: $color-base-primary;

  background-color: $color-default-white;
  border-radius: 4px;

  @media (hover: hover) {
    &:hover {
      color: $color-default-white;

      background-color: $color-alt-primary-lighter;

      & svg {
        fill: $color-default-white;
      }
    }
  }

  &:focus {
    background-color: $color-alt-primary-lighter;

    & svg {
      fill: $color-default-white;
    }
  }

  &:active {
    background-color: $color-alt-primary-darker;
  }

  &--current {
    font-weight: 600;
    color: $color-base-black;

    background-color: $color-transparent;
    cursor: auto;

    pointer-events: none;

    @media (hover: hover) {
      &:hover {
        background-color: $color-transparent;
      }
    }

    &:focus {
      background-color: $color-transparent;
    }

    &:active {
      background-color: $color-transparent;
    }
  }

  &--arrow {
    @media (min-width: $vp-768) {
      padding: 8px 20px;
    }

    & svg {
      @media (min-width: $vp-768) {
        display: none;
      }
    }
  }

  &--disabled {
    font-weight: 400;
    color: $color-default-white;

    background-color: $color-alt-light-grey;

    pointer-events: none;

    @media (hover: hover) {
      &:hover {
        background-color: $color-alt-light-grey;
      }
    }

    &:focus {
      background-color: $color-alt-light-grey;
    }

    &:active {
      background-color: $color-alt-light-grey;
    }

    & svg {
      fill: $color-default-white;
    }

    @media (min-width: $vp-768) {
      &.pagination__link--arrow {
        display: none;
      }
    }
  }
}

.pagination__arrow-text {
  display: none;

  @media (min-width: $vp-768) {
    display: block;
  }
}
