@use "./global/variables";

.range {
  padding-top: 11px;

  @media (min-width: variables.$tablet-width) and (max-width: variables.$tablet-width-only) {
    padding-left: 7px;
    padding-right: 16px;
  }
}

.range__scale {
  position: relative;
  width: 100%;
  height: 2px;
  margin-bottom: 36px;
  background-color: variables.$grey;
  cursor: pointer;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 32px;
  }
}

.range--disabled .range__scale {
  cursor: default;
}

.range__bar {
  position: absolute;
  top: -1px;
  height: 4px;
  background-color: variables.$primary;
}

.range--disabled .range__bar {
  background-color: variables.$grey;
}

.range__toggle {
  position: absolute;
  top: -10px;
  display: block;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 2px solid variables.$primary;
  border-radius: 50%;
  background-color: variables.$white;
  cursor: pointer;

  &--min {
    left: -12px;
  }

  &--max {
    right: -12px;
  }

  &::before {
    content: "";
    position: relative;
    display: block;
    margin: auto;
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }

  &:hover,
  &:focus {
    &::before {
      background-color: variables.$primary-025;
    }
  }

  &:focus-visible {
    outline: 2px solid variables.$primary;
    outline-offset: 4px;
  }

  &:active {
    &::before {
      background-color: variables.$primary;
    }
  }

  &:disabled {
    border-color: variables.$grey;
    cursor: default;

    &::before {
      content: none;
    }
  }
}

.range__inputs {
  position: relative;
  display: flex;
  gap: 44px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 9px;
    height: 2px;
    background-color: variables.$grey;
    transform: translate(-50%, -50%);
  }

  @media (min-width: variables.$tablet-width) {
    gap: 34px;
  }

  @media (min-width: variables.$desktop-width) {
    gap: 49px;
  }
}

.range__label {
  flex-grow: 1;
}

.range__input {
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: inherit;
  background-color: variables.$white;
  border: 2px solid variables.$primary-lighter;
  border-radius: 4px;
  appearance: textfield;

  &::placeholder {
    color: variables.$grey;
  }

  &:hover,
  &:focus,
  &:focus-visible {
    border-color: variables.$primary-darker;
    outline: none;
    appearance: textfield;
  }

  @media (min-width: variables.$tablet-width) {
    padding: 6px 10px;
  }
}

.range__input:disabled {
  color: variables.$grey;
  border-color: variables.$grey-light;
}

.range__input::-webkit-outer-spin-button,
.range__input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}
