@use "./global/variables";
@use "./global/global";

.sort {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  justify-content: flex-end;

  @media (min-width: variables.$tablet-width) {
    gap: 10px;
  }

  @media (min-width: variables.$desktop-width) {
    gap: 11px;
  }

  &:not(.sort--nojs) {
    @media (min-width: variables.$tablet-width) {
      gap: 14px;
    }
  }
}

.sort__label {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.sort__select {
  width: 100%;
  max-width: 162px;
  padding: 4px 25px 4px 10px;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: variables.$primary;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  background-image: url("../../img/icons/stack.svg#small-arrow");
  background-repeat: no-repeat;
  background-position: right 7px center;
  background-size: 10px 6px;
  appearance: none;
  cursor: pointer;

  @media (min-width: variables.$tablet-width) {
    max-width: 165px;
    background-position: right 10px center;
  }

  &:hover,
  &:focus {
    background-color: variables.$secondary;
  }

  &:focus-visible {
    outline: 2px solid variables.$primary;
    outline-offset: 2px;
  }
}

.sort:not(.sort--nojs) .sort__select {
  @include global.visually-hidden;
}
