.no-js .sort {
  display: none;
}

.sort {
  padding: 0 0 0 19px;

  @media (min-width: $vp-390) {
    padding: 0 20px;
  }
}

.sort__wrapper {
  position: relative;

  display: flex;
  align-items: center;

  gap: 5px;

  @media (min-width: $vp-768) {
    width: 315px;
  }
}

.sort__text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

.sort__control-wrapper {
  display: inline-block;
}

.is-open .sort__control::after {
  transform: translateY(-50%) rotate(90deg);
}

.sort__control {
  position: relative;

  padding: 4px 22px 4px 14px;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: $color-base-primary;
  text-transform: lowercase;

  background-color: $color-transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $vp-390) {
    padding: 4px 27px 4px 14px;
  }

  &::after {
    content: "";
    position: absolute;
    top: calc(50% + 1px);
    right: 10px;

    width: 6px;
    height: 10px;

    background-image: url("../../img/icons/stack.svg#arrow-thick");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 6px 10px;
    transform: translateY(-50%) rotate(-90deg);

    transition: all 300ms ease-out;
  }
}

.is-open .sort__list {
  display: flex;
  flex-direction: column;
}

.sort__list {
  position: absolute;

  display: none;
  margin: 10px 0 0 0;
  padding: 0;

  list-style: none;

  background-color: $color-transparent;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: translateX(-10px);
}

.sort__item {
  min-width: 190px;

  &:first-child .sort__label {
    border-radius: 4px 4px 0 0;
  }

  &:last-child .sort__label {
    border-radius: 0 0 4px 4px;
  }
}

.sort__label {
  display: block;
  width: 100%;
  padding: 8px 18px;

  font-size: 16px;
  line-height: 1.5;
  text-transform: lowercase;

  background-color: $color-default-white;
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      background-color: $color-base-secondary;
    }
  }
}

.sort__input {
  &:focus + .sort__label {
    background-color: $color-base-secondary;
  }

  &:checked + .sort__label {
    color: $color-default-white;

    background-color: $color-base-primary;
  }
}
