/* здесь используйте глобальные переменные */
$color-base-white: #ffffff;
$color-base-grey: #bdbdbd;
$color-base-black: #333333;
$color-base-primary: #7859cf;
$color-base-secondary: #f0ebff;

$color-primary-opacity: rgba(120, 89, 207, 0.25);
$color-primary-lighter: #9070ec;
$color-primary-darker: #593cac;
$color-light-grey: #e2e2e2;

$background-color-lightest-grey: #f8f8f8;
$background-color-flat-white: #f3ebe1;
$background-color-lavender-latte: #eae6fc;
$background-color-espresso: #e5e6e8;

$font-primary: "Montserrat", arial, tahoma, sans-serif;
